.body{
    margin-top:20px;
    color: #1c4cad;
    text-align: left;   
    background-image: url("grey-white-abstract-background-geometry-shine-layer-element-vector-presentation-design-suit-business-corporate-institution-204368345.jpg");
background-color: blue;
